﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://unpkg.com/botframework-webchat/botchat.css" rel="stylesheet" />
</head>
<body>
    <div id="bot" />
    <script src="https://unpkg.com/botframework-webchat/botchat.js"></script>
    <script>
        BotChat.App({
            directLine: { secret: 'PtgV9dZkJCc.cwA.VdU.P8gFPU9Y3_eCazHQNXBhyz6Tm44Nags4e8cCKPuDgRM' },
            user: { id: '@(ViewData["UserId"])', name: '@(ViewData["UserName"])' },
            bot: { id: 'Bot' },
            resize: 'detect'
        }, document.getElementById("bot"));
    </script>
</body>
</html>
