﻿
@{
    ViewBag.Title = "Chat";
    Layout = null;
}

<body>

        <div id="scroller" style="height: 450px; width: 100%; max-width: 500px; margin-left: auto; margin-right: auto;">
            <iframe style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" src="https://webchat.botframework.com/embed/miningsafetybotusw?s=jF__JklQyD0.cwA._0s.Xs5wqlsrnbPVDW45Zj9mL86BFDvwjTFCj13mMlgy_Ss&userid=@(ViewData["UserId"])&username=@(ViewData["UserName"])"></iframe> 
            
            <div/>
</body>


