﻿
@{
    ViewBag.Title = "Index";
}

<body>

    <div>
        <h2>Hello and Welcome to the Mining Safety Bot.</h2>
        <p>
            I am the Mining Safety Bot, a personal assistant for worker safety. I have been developed by EY using the Microsoft Bot Framework and use the LUIS Cognitive Services.
            This means I have been trained to work out your intent from your messages, and act on them as you would expect from a person - one that is online 24/7, waiting to help you.
        </p>

        <p>
            There is no manual and there is no training. I have been designed to be intuitive to use - talk to me as you would to a colleague and I will do my part to help keep you safe. So open up the
            chat window below, and lets have a chat!
        </p>

        <div id="scroller" style="height: 550px; width: 100%; max-width: 500px; margin-left: auto; margin-right: auto;">
            <iframe height="100%" scrolling="no" width="100%" align="middle" id="iframe" src="https://webchat.botframework.com/embed/miningsafetybotusw?s=jF__JklQyD0.cwA._0s.Xs5wqlsrnbPVDW45Zj9mL86BFDvwjTFCj13mMlgy_Ss&userid=@(ViewData["UserId"])&username=@(ViewData["UserName"])" />
        </div>
    </div>

</body>


