﻿
@{
    ViewBag.Title = "Mobile";
}

<body>

        <div id="scroller" style="height: 550px; width: 100%; max-width: 500px; margin-left: auto; margin-right: auto;">
            <iframe height="100%" scrolling="no" width="100%" align="middle" id="iframe" src="https://webchat.botframework.com/embed/miningsafetybotusw?s=jF__JklQyD0.cwA._0s.Xs5wqlsrnbPVDW45Zj9mL86BFDvwjTFCj13mMlgy_Ss&userid=@(ViewData["UserId"])&username=@(ViewData["UserName"])" />

    </div>

</body>


